<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SEMC</title>
    <script type="importmap"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
          rel="stylesheet">
          
    <script defer src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Bibliotec.styles.css" asp-append-version="true" />

    <script src="~/js/site.js" defer></script>
    <link rel="stylesheet" href="~/css/padrao.css">
    <link rel="stylesheet" href="~/css/header.css">
    <link rel="stylesheet" href="~/css/footer.css">


    @RenderSection("Styles", required: false)
</head>

<body>
    @{
        string? controllerAtual = ViewContext.RouteData.Values["Controller"]?.ToString();

        bool mostrarHeaderFooter = controllerAtual == "Home" || controllerAtual == "Login" || string.IsNullOrEmpty(controllerAtual);
    }

    @if(mostrarHeaderFooter)
        {
            
        }
        <main role="main">
        @RenderBody()
    </main>

@if(mostrarHeaderFooter){
  }
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
