@section Styles{
    <link rel="stylesheet" href="~/css/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.6.0/remixicon.min.css" integrity="sha512-XcIsjKMcuVe0Ucj/xgIXQnytNwBttJbNjltBV18IOnru2lDPe9KRRyvCXw6Y5H415vbBLRm8+q6fmLUU7DfO6Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
}

@section Scripts{
    <script src="~/js/login.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.15/dist/gsap.min.js"></script>
}
    <body>
        <main>
            <section class="login">
                <div class="login_content">
                    <div>
                        <h2 class="login_title">Bem-vindo</h2>
                        <form action="" method="post" class="login_form">
                            <div class="login_group">
                                <div class="login_box">
                                    <i class="ri-mail-fill login_icon"></i>
                                    <input type="email" name="email" autocomplete="email" required placeholder="" class="login_input" id="email">
                                    <label for="email" class="login_label">Email</label>
                                </div>
    
                                <div class="login_box">
                                    <i class="ri-lock-2-fill login_icon"></i>
                                    <input type="password" name="senha" autocomplete="senha-atual" required placeholder="" class="login_input" id="senha">
                                    <label for="senha" class="login_label">Senha</label>
                                    <i class="ri-eye-line login_senha" id="btn_senha" onclick="mostrarSenha()"></i>
                                </div>
    
                            </div>

                        <a href="#" class="login_forgot">Esqueçeu a senha?</a>
                        <button type="submit" class="login_button">Entrar <i class="ri-send-plane-2-fill"></i></button>

                        <p class="login_sing">Não tem uma conta? <a href="#">Cadastre-se</a></p>

                        </form>
                    </div>
                    <div class="login_image">
                        <img src="~/img/imagem.jpeg" alt="" class="login_img">
                    </div>
                </div>
            </section>
        </main>
    </body>