<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Postar SEMC</title>
</head>
<body>
    <section class="postar">
        <div class="postar_box_area">
            <span class="placeholder">O que podemos melhorar?</span>
            <div class="input_editavel" contenteditable="true"></div>
        </div>
        <nav class="footer_box">
            <ul class="footer_icons">
                <li><i class="far fa-file-image"></i></li>
                <li><i class="far fa-map-maker-alt"></i></li>
                <li><i class="far fa-grin"></i></li>
                <li><i class="far fa-user"></i></li>
            </ul>
        </nav>
        <div class="limiteCaracteres">
            <span class="counter_limits">280</span>
            <button type="button" class="post_btn">Post</button>
        </div>
    </section>
</body>
</html>